{{- $sn := .Values.namespace -}}

{{- range $key, $svc := .Values.services }}
{{- if and (ne $key "notification") (ne $key "gateway") }}
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: {{ $svc.name }}-hpa
  namespace: {{ $sn }}
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: {{ $svc.name }}
  minReplicas: 1
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
---
{{- end }}
{{- end }}
